- name: affirm debconf unattended-upgrades/enable_auto_updates
  debconf:
    name: unattended-upgrades
    question: unattended-upgrades/enable_auto_updates
    vtype: boolean
    value: "true"


# set systemd apt-daily and apt-daily-upgrade timers to run hourly (upgrade offset by 15m)
# Doc: https://wiki.debian.org/UnattendedUpgrades#Modifying_download_and_upgrade_schedules_.28on_systemd.29
- name: create directories for systemd apt-daily and apt-daily-upgrade overrides
  file:
    state: directory
    path: "{{ apt_daily_upgrade_override_directory }}"
    owner: root
    group: root
    mode: 0755
  with_items:
    - /etc/systemd/system/apt-daily.timer.d/
    - /etc/systemd/system/apt-daily-upgrade.timer.d/
  loop_control:
    loop_var: apt_daily_upgrade_override_directory

- name: override systemd apt-daily to run hourly
  copy:
    dest: /etc/systemd/system/apt-daily.timer.d/override.conf
    content: |
      [Timer]
      OnCalendar=hourly
      RandomizedDelaySec=0
    owner: root
    group: root
    mode: 0644
  notify: reload systemd daemon

- name: override systemd apt-daily-upgrade to run hourly
  copy:
    dest: /etc/systemd/system/apt-daily-upgrade.timer.d/override.conf
    content: |
      [Timer]
      OnCalendar=
      OnCalendar=*-*-* *:15:00
      RandomizedDelaySec=0
    owner: root
    group: root
    mode: 0644
  notify: reload systemd daemon

- name: install default packages
  apt:
    name: "{{ apt_default_packages }}"
    state: present

- name: "configure automatic installation of version upgrades and automatic reboots at {{ apt_unattended_reboot_time }}"
  copy:
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    owner: root
    group: root
    mode: 0644
    content: |
      Unattended-Upgrade::Allowed-Origins {
        "${distro_id}:${distro_codename}";
        "${distro_id}:${distro_codename}-security";
      };
      Unattended-Upgrade::Origins-Pattern {
        "origin=${distro_id},archive=${distro_codename}-security,label=Debian-Security";
      {% if apt_unattended_apt_version_upgrades %}
        "origin=${distro_id},archive=${distro_codename},label=Debian";
      {% endif %}
      };
      Unattended-Upgrade::Automatic-Reboot "{{ 'true' if apt_unattended_reboot else 'false' }}";
      Unattended-Upgrade::Automatic-Reboot-Time "{{ apt_unattended_reboot_time }}";
  notify: reload systemd daemon

- name: configure default package haveged
  copy:
    dest: /etc/default/haveged
    content: 'DAEMON_ARGS="-w 3072"'
    owner: root
    group: root
    mode: 0640
  when: "'haveged' in apt_default_packages"
  notify: restart haveged

- name: run apt-get autoremove
  apt:
    autoremove: True
